*{
    margin: 0cm;
    padding: 0cm;
}
body{
    background-image: url(images/logo.png);
    min-height: 100vh;
    background-size: cover;
    background-repeat: repeat;
    background-position: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}
nav{
    background-color: white;
    box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);

}
/* nav unordered list organisation */
nav ul{
    width: 100%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;

}
/* nav ordered list items org */
nav li{
    height: 50px;

}

nav a{
    height: 100%;
    padding: 0 30px;
    text-decoration: none;
    display: flex;
    align-items: center;

}
nav a:hover{
    background-color: aliceblue;
}
nav li :first-child{
    margin-right: auto;
} 
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: rgba(255, 255, 255, 0.205);
    box-shadow:-10px 0 10px rgba(0, 0, 0, 0.1) ;
    /* making the list items display along the column */
    /* display: flex; the menu icon cant be seen coz of this */
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    /* use this to see the background through the bar. if this fails also adjust the background color */
    backdrop-filter: blur(10px);

}
.sidebar li {
    width: 100%;

}
.sidebar a{
    width: 100%;
}

@media(max-width: 800px){
    

}
    