
.image{
    height: auto;
    width: 200px;
    color: transparent;
}
/* .image-1{
    color: transparent;
} */
 .shopping{
    color: transparent;
 }
 .carousel{
    width: 60%;
    height: auto;

 }